@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*my answer*/

* {
  list-style-type: none;
  text-decoration: none;
  flex-shrink: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  :link {
    color: rgb(117, 117, 117);
  }
  .footer {
  background-color: rgb(236, 236, 236);
}
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  li {
    margin: 0 10px 0 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button {
  padding: 8px 20px 8px 20px;
}